body {
  background-color: #c89666;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BingoCardContainer{
  background-color: #2d545e;
  width: 450px;
  border-radius: 15px;
}

.Row{
  display: flex;
}
