html body {
  background-color: #c89666;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BingoCardContainer {
  background-color: rgb(243, 198, 113);
  width: 450px;
  margin-top: 5em;
  margin-right: 40em; /* Add a margin on the left side */
}

.Row {
  display: flex;
}

.BingoCardButton {
  height: 4em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: wheat;
  color: black;
  flex: 1;
  margin: 6px;
}
