body {
  background-color: #c89666;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BingoCardContainer{
  background-color: rgb(243, 198, 113);
  width: 450px;
}

.Row{
  display: flex;
}
